# Introduction

Data cleaning is a key part of data science but it can be deeply frustrating. Why are some of the text fields garbled? What should you do about those missing values? In this course, I'll be learning why I've run into these problems and, more importantly, how to fix them!

In this section, I'll be learning how to deal with missing values.

# Take a first look at the data

### Libraries

In [2]:
import pandas as pd
import numpy as np

np.random.seed(0) # set seed for reproducibility

### Reading data

In [4]:
nfl_data = pd.read_csv("data/NFL Play by Play 2009-2016 (v3).csv")

C:\Users\PVG HD\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Let's see if there are any missing values, which will be reprsented with NaN or None.

In [5]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

Yep, it looks like there's some missing values.

# How many missing data points do we have?

In [6]:
len(nfl_data.columns)

102

In [9]:
nfl_data.shape

(362447, 102)

In [8]:
null_count = nfl_data.isnull().sum()
null_count[0 : 10]

Date                0
GameID              0
Drive               0
qtr                 0
down            54218
time              188
TimeUnder           0
TimeSecs          188
PlayTimeDiff      374
SideofField       450
dtype: int64

That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem.

In [10]:
# how many total missing values do we have ?
total_null = null_count.sum()

# percent of data that is missing
total_cells = np.product(nfl_data.shape)
percent_null = (total_null / total_cells) * 100
print("Percentage of data that is missing :", percent_null)

Percentage of data that is missing : 24.85847694188906

So almost a quarter of the cells in this dataset are empty! In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

# Figure out why the data is missing